__pycache__
roboc/template/
BonWeekend/.vs/
BonWeekend/BonWeekend/bin
BonWeekend/BonWeekend/obj
BoucleComputing/BoucleComputing/bin
BoucleComputing/BoucleComputing/obj
.suo
OCR-Loto/OCR-Loto/bin
OCR-Loto/OCR-Loto/obj
build-*
number/CSharpVersion/.vs
number/CSharpVersion/CSharpVersion/bin
number/CSharpVersion/CSharpVersion/obj
OCR-Game/.vs
OCR-Game/OCR-Game/bin
OCR-Game/OCR-Game/obj
